<!DOCTYPE html>
<html>
	<head>
		<title>Ejemplo twitter-bienvenido</title>
	</head>
	<body>
	   <h1>Bienvenido <%= user.name %></h1>	 
	   <p> <b>screen name</b><%= user.screen_name %></p>  
	</body>
</html>
